@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Header section*/

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  background: rgb(0, 0, 0);
} 

.logoimg{
  cursor: pointer;
  width:100px;
  height:auto;
}

nav{
  background: rgb(0, 0, 0);
  padding: 5px 20px;
}

ul{
  list-style-type: none;
}

.a-header{
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 7px;
}

.a-header:hover{
  background: #a2ecff;
  transition: .5s;

}

.NavOptions li{
  font-size: 16px;
  padding: 15px 5px;
}

.NavOptions li a{
  display: block;
}

.logo a{
  font-size: 20px;
  text-decoration: none;
  float: left;

}

.logo a:hover{
  cursor: pointer;
  background: none;
}

.button.secondary{
  border-bottom: 1px #444 solid;
}

/*mobile menu*/

.logoimg{
  display: none;
}

.NavOptions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle{
  order: 1;
}

.item.button{
  order: 2;
}

.item{
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active{
  display: block;
}


.toggle{
  cursor: pointer;
}

.bars{
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before,.bars::after{
  background: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}

.bars::before{
  top: 5px;
}

.bars::after{
  top: -5px;
}

/*Tablet menu*/

@media all and (min-width: 468px){
  .NavOptions{
      justify-content: center;
      cursor: pointers;
  }
  .logo{
      flex: 1;
  }
  .item.button{
      width: auto;
      order: 1;
      display: block;
  }
  .toggle{
      order: 2;
  }
  .button.secondary{
      border: 0;
  }

  .button a{
      text-decoration: none;
      padding: 7px 15px;
      background: teal;
      border: 1px solid #006d6d;
      border-radius: 50em;
  }
  .button.secondary a{
      background: transparent;
  }
  .button a:hover{
      transition: all .25s;
  }
  .button:not(.secondary) a:hover{
      background: #04404a; /*change color to match theme*/
      border-color: #005959; /*change color to match theme*/
  }
  .button.secondary a:hover{
      color: #02927a; /*change color to match theme*/
  }
  .logoimg{
      display: inline-block;
  }
}

/*Desktop menu*/

@media all and (min-width: 768px){
  .item{
      display: block;
      width: auto;
  }
  .toggle{
      display: none;
  }
  .logo{
      order: 0;
  }
  .item{
      order: 1;
  }
  .button{
      order: 2;
  }
  .NavOptions li{
      padding: 15px 10px;
  }
  .NavOptions li.button{
      padding-right: 0;
  }
}





/*Overall layout*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #111111;
    padding: 0;
    margin: 0;
}

*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HR*/

.custom-hr{
  padding: 0;
  margin:0;
  height: 4px;
  background: white;
}

.custom-hr2{
  margin: 0;
  background-color: rgb(255, 255, 255);
  padding: 0;
  height: 4px;
  border-color:rgb(0, 0, 0);
  border-top: 1px solid #222;
  border-bottom: 1px solid #000000;
}

.custom-hrP {
  padding: 10;
  margin-left: 470px;
  height: 4px;
  background: white;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Submenu style*/

header ul .submenu{
  position: absolute;
  width: 120px;
  background-color: rgb(31, 30, 30);
  box-shadow: 0 20px 45px #2c2c2c20;
  margin-top: -30px;
  margin-left: -5px;
  opacity: 0;
  z-index: -999;
  transition: all ease 0.3s;
}

header ul li:hover .submenu{
  z-index: 99;
  opacity: 1;
  margin-top: 10px;
}

header ul li a{
  text-decoration: none;
  color: white;
  padding: 10px 0;
  display: inline-block;
  transition: all ease 0.3s;
  font-size: 15px;
  align-items: center;
}

header ul li a:hover{
  color: #252525  ;
  background-color: #a2ecff;
  border-radius: 5px;
  font-weight: bold;
}

header ul .submenu li a{
  padding: 3px 5px;
  display: inline-block;
  width: 100%;
}

header ul .submenu a{
  margin-top: -30px;;
}