@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*mobile menu*/

.hero-container{
    width:100%;
    height:170px;
    overflow: hidden;
    position:relative;
  }

  .overlay{
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50, -50);
    background-color: hsla(268, 44%, 32%, 0.865);
    border: 5px double;
    height: 50px;
    width: 143px;
    padding: 5px;
    color: #000000;
    border-radius: 10px;
  }

  .overlay:hover {
    transform: scale(1.1);
    background-color: #2f1746;
    transition: .2s;
  }

  .overlay h2{
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .overlay h2 a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-weight: 300px;
  }

  .overlay h2 a:hover {
    text-decoration: underline;
    cursor: pointer;
    background: none;
    transition: .2s;
    color: #ffffff;
  }

  .full-width-image{
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /*hero section*/

  .display-section {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    padding: 20px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /*height: 100vh;*/
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    height: 410px;
    width: 350px;
    margin: 1px;
    overflow: hidden;
  }

  .card img {
    width: 350px;
    height: 400px;
    border-radius: 3px;
  }

  .intro{
    height: 123px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 129px;
    background: black;
    color: white;
    transition: .6s;
  }

  h1{
    margin: 10px;
    font-size: 30px;
    color: white;
  }

  p{
    margin: 10px;
    visibility: visible;
    opacity: 1;
  }

  p a {
    color: rgb(221, 255, 211);
    text-decoration: none;
  }

  span{
    font-weight: bold;
  }
  
  /*Gaming Add Section*/

  .gamingAd-section {
    background-color: #331658;
    background-size: cover;
    background-position: center;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.gamingAd-section h1 {
    color: #fffdfd;
}

.gamingAd-section img {
    width: 400px;
    height: auto;
    margin-bottom: 50px;
    box-shadow: 0 0 50px rgb(127, 26, 243);
}

.GamingAd-container ul  {
  text-decoration: none;
  color: white;
  padding: 10px 0;
  display: inline-block;
  transition: all ease 0.3s;
  font-size: 30px;
  align-items: center;
}

  /*Cafe Section add*/

    .Cafe-section {
    background-color: #26148b;
    background-size: cover;
    background-position: center;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.Cafe-section h1 {
    color: #fffdfd;
}

.Cafe-section img {
    width: 400px;
    height: auto;
    margin-bottom: 50px;
    box-shadow: 0 0 50px rgb(135, 55, 211);
}

  /*Membership section*/

 .membership-section {
  background-color: #1d1a6f;
    background-size: cover;
    background-position: center;
    padding:0; /* Adjust padding as needed */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /*height: 120vh;*/
    align-items: center;
}

.membership-section h1 {
  color: #f8f5f5;
}

.membership-section h2 {
  color: #fff;
}

.membershipPrice-container {
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cardPrice {
  height: 500px;
    width: 350px;
    margin: 80px;
    box-shadow: 10px 10px 20px rgb(61, 129, 237);
    overflow: hidden;
    border-radius: 17px;
}

.cardPrice img {
  width: 350px;
    height: 500px;
    border-radius: 17px;
}

.cardPrice h1{
  color: #ffffff;
}


  /*Tablet menu*/
  @media all and (min-width: 468px){
    .hero-container{
        width:100%;
        height:300px;
        overflow: hidden;
        position:relative;
      }
    
      .overlay{
        position: absolute;
        top: 70%;
        left: 38%;
        transform: translate(-50, -50);
        background-color: hsla(268, 44%, 32%, 0.865);
        border: 5px double;
        height: 50px;
        width: 143px;
        padding: 5px;
        color: #000000;
        border-radius: 10px;
      }
    
      .overlay:hover {
        transform: scale(1.1);
        background-color: #2f1746;
        transition: .2s;
      }
    
      .overlay h2{
        margin: 0;
        padding: 0;
        text-align: center;
      }
    
      .overlay h2 a {
        text-decoration: none;
        text-align: center;
        color: #000000;
        font-weight: 300px;
      }
    
      .overlay h2 a:hover {
        text-decoration: underline;
        cursor: pointer;
        background: none;
        transition: .2s;
      }
    
      .full-width-image{
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      /*hero section*/

      
.display-section {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    padding: 0; /* Adjust padding as needed */
    display: flex;
    /*height: 100vh;*/
    align-items: center;
  }
  
  .card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    height: 450px;
    width: 400px;
    margin-left: 90px;
    overflow: hidden;
  }
  
  .card img {
    width: 350px;
    height: 410px;
    border-radius: 3px;
  }
  
  .intro{
    height: 193px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 193px;
    background: black;
    color: white;
    transition: .6s;
  }
  
  h1{
    margin: 10px;
    font-size: 40px;
    color: white;
  }
  
  
  p{
    font-size: 20px;
    margin: 20px;
    visibility: visible;
    opacity: 1;
  }

  p a {
    color: rgb(221, 255, 211);
    text-decoration: none;
  }
  
  span{
    font-weight: bold;
  }

   /*Gaming Add Section*/

  .gamingAd-section {
    background-color: #331658;
    background-size: cover;
    background-position: center;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.gamingAd-section h1 {
    color: #fffdfd;
    margin-left: 10%;
    align-items: center;
}

.gamingAd-section img {
    width: 400px;
    height: auto;
    margin-bottom: 50px;
    margin-left: 10%;
    box-shadow: 0 0 50px rgb(127, 26, 243);
}

.GamingAd-container ul{
  text-decoration: none;
  color: white;
  padding: 10px 0;
  display: inline-block;
  transition: all ease 0.3s;
  font-size: 30px;
  align-items: center;
  margin-left: 20%;
}

  /*Cafe Section add*/

    .Cafe-section {
    background-color: #26148b;
    background-size: cover;
    background-position: center;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.Cafe-section h1 {
    color: #fffdfd;
    margin-left: 15%;
}

.Cafe-section img {
    width: 400px;
    height: auto;
    margin-bottom: 50px;
    box-shadow: 0 0 50px rgb(135, 55, 211);
    margin-left: 15%;
}

/*Membership section*/

.membership-section {
  background-color: #1d1a6f;
    background-size: cover;
    background-position: center;
    padding: 0; /* Adjust padding as needed */
    display: flex;
    /*height: 120vh;*/
    align-items: center;
}

.membership-section h1 {
  color: #f8f5f5;
}

.membership-section h2 {
  color: #fff;
}

.membershipPrice-container {
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cardPrice {
  height: 500px;
    width: 350px;
    margin: 80px;
    box-shadow: 10px 10px 20px rgb(61, 129, 237);
    overflow: hidden;
    border-radius: 17px;
}

.cardPrice img {
  width: 350px;
    height: 500px;
    border-radius: 17px;
}

.cardPrice h1{
  color: #ffffff;
}

  }

  /*Desktop menu*/

  @media all and (min-width: 768px){
    
/*Hero section*/

.hero-container{
    width:100%;
    height:600px;
    overflow: hidden;
    position: relative;
  }
  
  .overlay{
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50, -50);
    background-color:  hsla(268, 44%, 32%, 0.865);
    border: 5px double;
    height: 80px;
    width: 250px;
    padding: 5px ;
    color: #000000;
    border-radius: 10px;
  }
  
  .overlay:hover {
    transform: scale(1.1);  /*Scale up image on hover, Also change this in future. maybe add img */
    background-color: #2f1746;
  }
  
  .overlay h2{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .overlay h2 a{
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    color:#ffffff;
    font-weight: 300px;
  }
  
  .overlay h2 a:hover{
    text-decoration: underline;
    cursor: pointer;
    background: none;
    transition: .5s;
  }
  
  .full-width-image{
    width: 100%;
    height:auto;
    object-fit: cover;
  }
  
  
  
  /*Overlays*/
  
  .display-section {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    padding: 20px 15px 15px; /* Adjust padding as needed */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
  }
  
  .card-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  
  .card {
    height: 500px;
    width: 350px;
    margin: 80px;
    box-shadow: 10px 10px 20px rgb(78, 25, 121);
    overflow: hidden;
  }
  
  .card img {
    width: 350px;
    height: 500px;
    border-radius: 3px;
  }
  
  .card:hover {
    transform: scale(1.1); /* Scale up image on hover, Also change this in future. maybe add img */
  }
  
  .intro{
    height: 72px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 79px;
    background: rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
    transition: .6s;
  }
  
  h1{
    margin: 10px;
    font-size: 40px;
    color: white;
  }
  
  
  p{
    font-size: 20px;
    margin: 20px;
    visibility: visible;
    opacity: 1;
  }
  
  span{
    font-weight: bold;
  }
  
  .card:hover .intro{
    height: 220px;
    bottom: 220px;
    background: black;
    color: white;
  }
  
  .card:hover p{
    opacity: 1;
    visibility: visible;
    color: white;
  }
  
  .card:hover p a {
    text-decoration: underline;
    color:#a2ecff;
  }
  
  /*game add section*/

    .GamingAd-container {
    background-color: #331658;
    background-size: cover;
    background-position: center;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.GamingAd-container h1 {
    color: #fffdfd;
    margin-left: 29%;
    align-items: center;
    width: 1000px;
}

.GamingAd-container img {
    width: 400px;
    height: auto;
    margin-bottom: 50px;
    margin-left: 10%;
    box-shadow: 0 0 50px rgb(127, 26, 243);
}

.GamingAd-container ul {
  text-decoration: none;
  color: white;
  padding: 5px 0;
  transition: all ease 0.3s;
  font-size: 30px;
  align-items: center;
  padding-left: 600px;
  padding-bottom: 50px;
}

  /*cafe section*/

    .Cafe-section {
    background-color: #26148b;
    background-size: cover;
    background-position: center;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.Cafe-section h1 {
    color: #fffdfd;
    width: 1000px;
    margin-left: 29%;
}

.Cafe-section img {
    width: 500px;
    height: auto;
    margin-bottom: 50px;
    box-shadow: 0 0 50px rgb(135, 55, 211);
    margin-left: 45%;
}

  /*membership section*/

.membership-section {
  background-color: #1d1a6f;
    background-size: cover;
    background-position: center;
    padding: 20px 15px 15px; /* Adjust padding as needed */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120vh;
    align-items: center;
}

.membership-section h1 {
  color: #f8f5f5;
}

.membership-section h2 {
  color: #fff;
}

.membershipPrice-container {
  display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.cardPrice {
  height: 500px;
    width: 350px;
    margin: 80px;
    box-shadow: 10px 10px 20px rgb(61, 129, 237);
    overflow: hidden;
    border-radius: 17px;
}

.cardPrice img {
  width: 350px;
    height: 500px;
    border-radius: 17px;
}

.cardPrice h1{
  color: #ffffff;
}
  }
  